# Deployment used by `convex dev/bun run dev:convex`
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=

# secret used by better-auth
BETTER_AUTH_SECRET=

# site URLs for constructing links in emails, etc.
NEXT_PUBLIC_SITE_URL=

# google oauth credentials for signing in with google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# smtp settings for sending emails (e.g. password reset emails)
SMTP_HOST=
SMTP_PORT=
SMTP_PASS=
SMTP_USER=
